$default-text-color: #000;
$default-text-color-subdued: rgba(#000, .58);
$default-bg-color: #fff;
$default-font-size: 16px;
$default-line-height: 140%;
$default-header-bg-color: rgb(43, 62, 231);
$default-footer-bg-color: rgb(232, 234, 248);
$default-footer-text-color: rgb(43, 62, 231);

$header-height: 4rem;
$desktop-container-width: 75vw;
$mobile-container-width: 90vw;
$blog-container-width: 40rem;
$blog-max-image-width: 40rem;
$blog-max-image-height: calc(40rem * .5625);
$sans-serif-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$serif-font: 'Times New Roman', Times, serif;
$image-mark-color: rgba(#000, 0.15);
$border-radius: 4px;