<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-trio-callback="setCategoryPageDocTitle">Document</title>
    <link data-trio-link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header data-trio-include="header.html" data-trio-callback="header" class="header header--no-bottom-margin"></header>
    <main class="category">
        <section class="banner">
            <p class="banner__text">Banner</p>
        </section>
        <section data-trio-fragment class="container category__container">
        </section>
        <section class="container blog__container archive-link-container">
            <a class="archive-link" href="/blog/archive">Archive</a>
        </section>
    </main>
    <footer data-trio-include="footer.html"></footer>
</body>
</html>
