<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-trio-callback="setDocTitle">Document</title>
    <link data-trio-link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header data-trio-include="header.html" data-trio-callback="header" class="header header--no-bottom-margin"></header>
    <main>
        <section class="banner">
            <p class="banner__text">Hero</p>
        </section>
        <section data-trio-fragment class="container"></section>
    </main>
    <footer data-trio-include="footer.html"></footer>
</body>
</html>